<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This is a sample application
  that Corinne made during Christmas break!
  It follows the <a href="http://www.railstutorial.org/">
  Ruby on Rails tutorial</a>.
</p>
